In [4]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
%matplotlib inline
np.set_printoptions(suppress=True) # Suppress scientific notation where possible

In [6]:
df = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2019-01.csv')

In [7]:
df.head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.0,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1,NaN

In [9]:
df.columns = df.columns.str.lower()

In [10]:
df.payment_type.value_counts()

1    388313
2    237857
3      3392
4      1330
5        26
Name: payment_type, dtype: int64

In [11]:
df.shape

(630918, 20)

In [16]:
df.drop(columns=['ehail_fee'],inplace=True)

In [20]:
df.drop(columns=['trip_type'],inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendorid               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   ratecodeid             630918 non-null  int64
 5   pulocationid           630918 non-null  int64
 6   dolocationid           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  improvement_surcharge  630918 non-null  float64
 15  total_amount           630918 non-null  float64
 16  payment_type           630918 non-null  int64
 17  congestion_surcharge   84538 non-null   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 86.6+ MB

In [22]:
import datetime as dt

In [24]:
df.rename(columns={'lpep_pickup_datetime':'pickup_datetime','lpep_dropoff_datetime':'dropoff_datetime'},inplace=True)

In [25]:
df.pickup_datetime, df.dropoff_datetime = pd.to_datetime(df.pickup_datetime), pd.to_datetime(df.dropoff_datetime)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendorid               630918 non-null  int64
 1   pickup_datetime        630918 non-null  datetime64[ns]
 2   dropoff_datetime       630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   ratecodeid             630918 non-null  int64
 5   pulocationid           630918 non-null  int64
 6   dolocationid           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  improvement_surcharge  630918 non-null  float64
 15  total_amount           630918 non-null  float64
 16  payment_type           630918 non-null  int64
 17  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 86.6+ MB

In [27]:
df['week_of_month'] = df.pickup_datetime.dt.weekofyear

<ipython-input-27-369b3419fa04>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week_of_month'] = df.pickup_datetime.dt.weekofyear

In [28]:
df.head()

,vendorid,pickup_datetime,dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,congestion_surcharge,week_of_month
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,0.3,4.30,2,NaN,51
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2,NaN,1
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,0.3,5.80,1,NaN,1
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,0.3,19.71,1,NaN,1
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,0.3,19.30,2,NaN,1

In [29]:
df.week_of_month.value_counts()

2     146651
3     143778
4     142303
1     113608
5      84531
49        35
38        11
51         1
Name: week_of_month, dtype: int64

In [32]:
df[df.week_of_month==49]

,vendorid,pickup_datetime,dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,congestion_surcharge,week_of_month
10251,2,2018-12-04 16:01:39,2018-12-05 00:00:00,N,1,193,193,5,0.0,4.50,0.0,0.5,0.00,5.76,0.3,11.06,2,NaN,49
10252,2,2018-12-04 16:09:52,2018-12-04 16:10:31,N,5,193,193,9,0.0,0.50,0.0,0.0,0.00,0.00,0.0,0.50,2,NaN,49
10253,2,2018-12-04 16:12:35,2018-12-04 16:14:34,N,3,193,193,5,0.0,20.50,0.0,0.0,0.00,0.00,0.3,20.80,2,NaN,49
10254,2,2018-12-04 16:18:39,2018-12-04 16:18:47,N,1,193,193,5,0.0,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2,NaN,49
10255,2,2018-12-04 16:21:15,2018-12-04 16:39:53,N,5,193,193,3,0.0,4.45,0.0,0.0,0.00,0.00,0.0,4.45,2,NaN,49
10256,2,2018-12-04 16:45:37,2018-12-04 17:01:23,N,1,193,193,5,0.0,10.00,0.0,0.5,0.00,0.00,0.3,10.80,2,NaN,49
11029,2,2018-12-04 17:04:45,2018-12-04 17:10:21,N,1,193,193,5,0.0,5.00,0.0,0.5,0.00,0.00,0.3,5.80,2,NaN,49
11030,2,2018-12-04 17:15:24,2018-12-04 17:23:07,N,1,193,193,5,0.0,6.00,0.0,0.5,31.00,0.00,0.3,37.80,1,NaN,49
11031,2,2018-12-04 17:25:35,2018-12-04 17:45:46,N,2,193,193,5,0.0,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2,NaN,49
11032,2,2018-12-04 17:47:11,2018-12-05 09:53:05,N,2,193,264,5,0.0,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2,NaN,49
18134,2,2018-12-05 09:58:51,2018-12-05 10:17:36,N,1,193,193,5,0.0,11.50,0.0,0.5,0.00,0.00,0.3,12.30,2,NaN,49
19358,2,2018-12-05 10:19:03,2018-12-05 10:31:51,N,5,193,193,8,0.0,9.98,0.0,0.0,0.00,0.00,0.0,9.98,2,NaN,49
19359,2,2018-12-05 10:49:05,2018-12-05 11:02:06,N,5,193,193,2,0.0,3.45,0.0,0.0,7.00,5.76,0.0,18.16,1,NaN,49
20425,2,2018-12-05 11:08:43,2018-12-05 11:20:22,N,1,193,193,5,0.0,8.00,0.0,0.5,0.00,0.00,0.3,8.80,1,NaN,49
20426,2,2018-12-05 11:23:21,2018-12-05 11:32:14,N,3,193,193,5,0.0,24.00,0.0,0.0,0.00,0.00,0.3,24.30,2,NaN,49
20427,2,2018-12-05 11:32:52,2018-12-05 11:36:03,N,1,193,193,5,0.0,4.00,0.0,0.5,0.00,0.00,0.3,4.80,2,NaN,49
20428,2,2018-12-05 11:52:35,2018-12-05 12:18:34,N,2,193,193,5,0.0,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2,NaN,49
22498,2,2018-12-05 13:09:06,2018-12-05 13:17:54,N,1,193,193,5,0.0,6.50,0.0,0.5,0.00,0.00,0.3,7.30,2,NaN,49
22499,2,2018-12-05 13:19:58,2018-12-05 13:20:51,N,5,193,193,8,0.0,8.99,0.0,0.0,0.00,10.50,0.0,19.49,2,NaN,49
22500,2,2018-12-05 13:29:47,2018-12-05 13:29:50,N,2,193,193,5,0.0,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2,NaN,49
23501,2,2018-12-05 14:15:48,2018-12-05 14:30:22,N,1,193,193,5,0.0,9.50,0.0,0.5,0.00,88.94,0.3,99.24,2,NaN,49
23502,2,2018-12-05 14:30:42,2018-12-06 14:30:22,N,1,193,193,5,0.0,2.50,0.0,0.5,0.33,0.00,0.3,3.63,1,NaN,49
23503,2,2018-12-05 14:31:31,2018-12-06 14:30:22,N,1,193,193,5,0.0,2.50,0.0,0.5,0.00,5.76,0.3,9.06,2,NaN,49
23504,2,2018-12-05 14:33:50,2018-12-05 14:44:18,N,6,193,193,1,0.0,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2,NaN,49
24582,2,2018-12-05 15:14:24,2018-12-05 15:14:32,N,1,193,193,5,0.0,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2,NaN,49
24583,2,2018-12-05 15:25:33,2018-12-05 15:26:06,N,1,193,193,5,0.0,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2,NaN,49
24584,2,2018-12-05 15:33:48,2018-12-05 15:46:11,N,1,193,193,5,0.0,8.50,0.0,0.5,1.00,0.00,0.3,10.30,1,NaN,49
25840,2,2018-12-05 16:02:11,2018-12-06 15:46:11,N,1,193,193,5,0.0,5.00,1.0,0.5,0.00,0.00,0.3,6.80,2,NaN,49
25841,2,2018-12-05 16:12:48,2018-12-06 15:46:11,N,1,193,193,5,0.0,9.50,1.0,0.5,0.00,0.00,0.3,11.30,2,NaN,49
27128,2,2018-12-05 17:08:59,2018-12-06 15:46:11,N,1,193,193,5,0.0,9.00,1.0,0.5,0.00,0.00,0.3,10.80,2,NaN,49
27129,2,2018-12-05 17:26:17,2018-12-05 17:38:41,N,1,193,193,4,0.0,8.50,1.0,0.5,0.00,0.00,0.3,10.30,2,NaN,49
27130,2,2018-12-05 17:52:22,2018-12-06 09:47:48,N,1,193,193,5,0.0,2.50,1.0,0.5,0.00,0.00,0.3,4.30,2,NaN,49
59022,2,2018-12-07 10:58:39,2018-12-07 11:24:11,N,1,193,193,5,0.0,15.00,0.0,0.5,0.00,0.00,0.3,15.80,2,NaN,49
61320,2,2018-12-07 12:31:03,2018-12-07 14:30:37,N,1,193,193,5,0.0,62.00,0.0,0.5,0.00,0.00,0.3,62.80,1,NaN,49
64576,2,2018-12-07 15:48:42,2018-12-08 09:14:36,N,2,193,193,5,0.0,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2,NaN,49