In [1]:
import pandas as pd
import numpy as np

In [12]:
import datetime as dt

In [2]:
df = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv')

In [4]:
df.shape

(7667792, 18)

In [5]:
# drop all cash payments as they do not record tips

df = df[df.payment_type != 2]

In [6]:
df.shape

(5530377, 18)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5530377 entries, 0 to 7667791
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 801.7+ MB

In [11]:
df.drop(columns = ['congestion_surcharge','store_and_fwd_flag'], inplace = True)

In [14]:
df.columns = df.columns.str.lower()

In [16]:
df.rename(columns={'vendorid':'vendor_id', 'tpep_pickup_datetime':'pickup_datetime',
                  'tpep_dropoff_datetime':'dropoff_datetime'},inplace=True)

In [17]:
df.pickup_datetime, df.dropoff_datetime = pd.to_datetime(df.pickup_datetime), pd.to_datetime(df.dropoff_datetime)

In [18]:
df['week_of_month'] = df.pickup_datetime.dt.weekofyear

<ipython-input-18-369b3419fa04>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week_of_month'] = df.pickup_datetime.dt.weekofyear

In [19]:
df.week_of_month.value_counts()

2     1295391
4     1291721
3     1288264
1      861224
5      793749
52          6
12          3
27          3
17          2
9           2
6           2
24          2
21          1
15          1
51          1
8           1
7           1
30          1
36          1
11          1
Name: week_of_month, dtype: int64

In [31]:
#removing erroneous dates for accuracy.
df = df[df.week_of_month<6]

In [21]:
df.week_of_month.value_counts()

2    1295391
4    1291721
3    1288264
1     861224
5     793749
Name: week_of_month, dtype: int64

In [23]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5530349 entries, 0 to 7667791
Data columns (total 17 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              int64
 1   pickup_datetime        datetime64[ns]
 2   dropoff_datetime       datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   ratecodeid             int64
 6   pulocationid           int64
 7   dolocationid           int64
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  week_of_month          int64
dtypes: datetime64[ns](2), float64(8), int64(7)
memory usage: 759.5 MB

In [32]:
df.shape

(5530349, 17)

In [29]:
df2 = df.dropna()

In [30]:
df2.shape

(5530349, 17)

In [33]:
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,ratecodeid,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,week_of_month
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,1
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,1
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1,1.3,1,163,229,1,6.5,0.5,0.5,1.25,0.0,0.3,9.05,1
8,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1,3.7,1,229,7,1,13.5,0.5,0.5,3.70,0.0,0.3,18.50,1
9,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2,2.1,1,141,234,1,10.0,0.5,0.5,1.70,0.0,0.3,13.00,1