In [1]:
import pandas as pd
import datetime as dt

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.8 from "/Users/michaelharnett/opt/anaconda3/envs/metis/bin/python"
  * The NumPy version is: "1.19.2"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: dlopen(/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/numpy/core/_multiarray_umath.cpython-38-darwin.so, 2): Library not loaded: @rpath/libopenblas.dylib
  Referenced from: /Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/numpy/core/_multiarray_umath.cpython-38-darwin.so
  Reason: image not found

In [1]:
df = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv')

In [3]:
df.head(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN

In [14]:
df.shape

(7667792, 18)

In [15]:
df.columns = df.columns.str.lower()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   ratecodeid             int64
 6   store_and_fwd_flag     object
 7   pulocationid           int64
 8   dolocationid           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.0+ GB

## Payment Types

Removing payment type 2, cash payments as they do not record tips

In [17]:
df.payment_type.value_counts()

1    5486027
2    2137415
3      33186
4      11164
Name: payment_type, dtype: int64

In [18]:
df = df[df.payment_type !=2]

In [39]:
df.shape

(5530349, 24)

In [19]:
df.payment_type.value_counts()

1    5486027
3      33186
4      11164
Name: payment_type, dtype: int64

In [20]:
# mapping the numerical values into their appropriate titles since this is categorical

payment_dict = {1:'credit',
               3:'no charge',
               4:'Dispute',
               5:'unknown',
               6:'voided'}

df.payment_type = df.payment_type.map(payment_dict)

## Removing Columns

for uniformity between datasets and removing nulls

In [21]:
df.drop(columns=['store_and_fwd_flag',
                 'congestion_surcharge','vendorid'],inplace=True)

## Setting Target 

Bringing target to fist column and chaning name from "tip amount" to "tip"

In [22]:
df.rename(columns = {'tip_amount':'tip'},inplace=True)

#putting target variable in first column

cols = list(df.columns)
cols.insert(0, cols.pop(cols.index('tip')))
df = df[cols]

In [23]:
def to_binary(value):
    if value > 0:
        return 1
    else:
        return 0
    
df.tip = df.tip.apply(to_binary)

## Ratecode ID

Converting ratecodeid column from numerical to appropriate labels ro reflect its categorical nature

In [24]:
ratecode_dict = {1:'standard',
                2:'jfk',
                3:'newark',
                4:'nassau/weschester',
                5:'negotiated',
                6:'group'}

df.ratecodeid = df.ratecodeid.map(ratecode_dict)

## Datetime Elements

Using the provided timestamps, I am creating features for week of the month, day of the week, and hour of the day, all stored as string values to later be one-hot-encoded

In [25]:
#making the columns easier to work with
df.rename(columns = {'tpep_pickup_datetime':'pickup_datetime','tpep_dropoff_datetime':'dropoff_datetime'},inplace=True)

#making datetime
df.pickup_datetime, df.dropoff_datetime = pd.to_datetime(df.pickup_datetime), pd.to_datetime(df.dropoff_datetime)

df['week_of_month'] = df.pickup_datetime.dt.weekofyear

# removing erroneous dates for accuracy
df = df[df.week_of_month<6]

# converting column to string
df.week_of_month = df.week_of_month.astype(str)

<ipython-input-25-9d213b3ad2e2>:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['week_of_month'] = df.pickup_datetime.dt.weekofyear

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5530349 entries, 0 to 7667791
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tip                    int64
 1   pickup_datetime        datetime64[ns]
 2   dropoff_datetime       datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   ratecodeid             object
 6   pulocationid           int64
 7   dolocationid           int64
 8   payment_type           object
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tolls_amount           float64
 13  improvement_surcharge  float64
 14  total_amount           float64
 15  week_of_month          object
dtypes: datetime64[ns](2), float64(7), int64(4), object(3)
memory usage: 717.3+ MB

In [27]:
df['pickup_hour'] = (df.pickup_datetime.dt.hour).astype(str)
df['dropoff_hour'] = (df.dropoff_datetime.dt.hour).astype(str)
df['day'] = (df.pickup_datetime.dt.day_name()).astype(str)

## Borough Information

Pulling in separate dataframe to change location id's into Borough information

In [28]:
locationdf = pd.read_csv('data/locations.csv')

In [29]:
locationdf.columns = locationdf.columns.str.lower()

#merging for pickup information
df.rename(columns={'pulocationid':'locationid'}, inplace=True)
df = pd.merge(df, locationdf[['locationid','borough','zone']], how='left', on='locationid')

#renaming columns
df.rename(columns={'borough':'pickup_borough', 'locationid':'pickup_location_id',
                  'dolocationid':'locationid','zone':'pickup_zone'}, inplace=True)

#merging for dropoff information
df = pd.merge(df, locationdf[['locationid','borough','zone']], how='left', on='locationid')
df.rename(columns={'borough':'dropoff_borough','locationid':'dropoff_location_id',
                  'zone':'dropoff_zone'},inplace=True)

In [30]:
df.head(1)

,tip,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,ratecodeid,pickup_location_id,dropoff_location_id,payment_type,fare_amount,...,improvement_surcharge,total_amount,week_of_month,pickup_hour,dropoff_hour,day,pickup_borough,pickup_zone,dropoff_borough,dropoff_zone
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,standard,151,239,credit,7.0,...,0.3,9.95,1,0,0,Tuesday,Manhattan,Manhattan Valley,Manhattan,Upper West Side South

## Car Color

Creating a column to signify this dataframe is yellow taxis.

In [31]:
df['car_type'] = 'yellow'

cols = list(df.columns)
cols.insert(1, cols.pop(cols.index('car_type')))
df = df[cols]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5530349 entries, 0 to 5530348
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tip                    int64
 1   car_type               object
 2   pickup_datetime        datetime64[ns]
 3   dropoff_datetime       datetime64[ns]
 4   passenger_count        int64
 5   trip_distance          float64
 6   ratecodeid             object
 7   pickup_location_id     int64
 8   dropoff_location_id    int64
 9   payment_type           object
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  week_of_month          object
 17  pickup_hour            object
 18  dropoff_hour           object
 19  day                    object
 20  pickup_borough         object
 21  pickup_zone            object
 22  dropoff_borough        object
 23  dropoff_zone           object
dtypes: datetime64[ns](2), float64(7), int64(4), object(11)
memory usage: 1.0+ GB

In [32]:
df.to_csv(r'/users/michaelharnett/desktop/metis/projects/taxi_tip_classification_metis4/data/yellow1.csv', index=False)

In [34]:
object_list = list(df.select_dtypes('object'))

In [35]:
yellowdumm = pd.get_dummies(data = df, columns=object_list, drop_first = True)

In [36]:
yellowdumm.shape

(5530349, 605)